body{
    color: #fff !important;
    background-color: rgb(36, 35, 35) !important;
}
.bg-light{
    background-color: rgba(37, 37, 37, 0.623) !important;
}
.nav-link{
    color: rgb(255, 255, 255) !important;
}
.nav-link:hover{
    color: rgb(39, 39, 39) !important;
}
.behind{
    color: rgba(255, 255, 255, 0.199) !important;
}
.why-item,.contact,.plan{
    border: none;
    background-color: rgb(44, 44, 44) !important;
}

.gradient-cover{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(44, 44, 44, 0.726),rgb(34, 34, 34));
    height: 800px;
}
.navbar-brand{
    color: #fff !important;
}
.accordion-item{
    background-color: #333333;
    border: none;
}